@page
@model IndexModel
@{
    ViewData["Title"] = "سبد خرید";
    decimal sumTota = 0;
}

<section class="cart-home">
    <div class="post-item-cart d-block order-2">
        <div class="content-page">
            <div class="cart-form">
                <form action="#" class="c-form">
                    <table class="table-cart cart table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col" class="product-cart-name">نام محصول</th>
                            <th scope="col" class="product-cart-quantity">تعداد مورد نیاز</th>
                            <th scope="col" class="product-cart-price">قیمت</th>
                            <th scope="col" class="product-cart-Total">مجموع</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var item in Model.Cart.CartItemDtos)
                        {
                            <tr>
                                <th scope="row" class="product-cart-name">
                                    <div class="product-thumbnail-img">
                                        <a href="#">
                                            <img src="~/@item.ProductImage">
                                        </a>
                                        <div class="product-remove">
                                            <a asp-page-handler="RemoveCartItem" asp-route-cartItemId="@item.Id" class="remove">
                                                <i class="mdi mdi-close"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-title">
                                        <a href="#">
                                            @item.ProductName
                                        </a>

                                    </div>
                                </th>
                                <td class="product-cart-quantity">
                                    <div class="required-number before">
                                        <div class="quantity">
                                            <input type="number" min="1" max="100" step="1" value="@item.Count" id="count-@item.Id">
                                            <div class="quantity-nav">

                                                <div class="quantity-button quantity-up">
                                                    <a id="IncreaseCartCount" asp-page-handler="IncreaseCount" asp-route-cartItemId="@item.Id">+</a>
                                                </div>
                                                <div class="quantity-button quantity-down">
                                                    <a id="DecreaseCartCount" asp-page-handler="DecreaseCount" asp-route-cartItemId="@item.Id">-</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-cart-price">
                                    <span class="amount">
                                        @item.Price.ToString("n0")
                                        <span>تومان</span>
                                    </span>
                                </td>
                                <td class="product-cart-Total">
                                    <span class="amount">
                                        @{
                                            decimal total = item.Price * item.Count;
                                            sumTota += total;
                                        }
                                        @total.ToString("n0")
                                        <span>تومان</span>
                                    </span>
                                </td>
                            </tr>
                        }


                        </tbody>
                    </table>
                </form>
            </div>
            <div class="cart-collaterals">
                <div class="totals d-block">
                    <h3 class="Total-cart-total">مجموع کل سبد خرید</h3>
                    <div class="checkout-summary">
                        <ul class="checkout-summary-summary">
                            <li class="cart-subtotal">
                                <span class="amount">قیمت کل</span>


                                <span> @sumTota.ToString("n0") تومان</span>
                            </li>

                            <li class="order-total">
                                <span class="amount"> مجموع</span>
                                <span> 6,032,000 تومان</span>
                            </li>
                            <li class="discount-code">
                                <div class=" align-items-center">
                                    @*     <div class="col-md-7 pr mt-5">
                                        <div class="coupon">
                                            <form action="#">
                                                <input type="text" name="input-coupon" class="input-coupon-code" placeholder="كد تخفیف:">
                                                <button class="btn btn-coupon" type="submit">اعمال</button>
                                            </form>
                                        </div>
                                    </div>*@
                                    <div class="col-md-2 pl mt-5">
                                        <div class="proceed-to-checkout">
                                            <a href="#" class="checkout-button d-block">تسویه حساب</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script>

                        //increaseBtn.click(DisableBtn(increaseBtn));
        //decreaseBtn.click(DisableBtn(decreaseBtn));
        //console.log("13111");
        //function DisableBtn() {
        //    console.log("11111");

        //}


    </script>
}