@model Application.ShopManagement.Services.ProductAgg.Carts.CartDto
@{

}
@if (Model != null && Model.CartItemDtos != null && Model.Count != 0)
{
    <div class="divider-space-card d-block">
        <div class="header-cart-basket">
            <a href="/Site/Carts/Index" class="cart-basket-box">
                <span class="icon-cart">
                    <i class="mdi mdi-cart"></i>
                </span>
                <span>سبد خرید</span>

            </a>
            <div class="widget-shopping-cart">
                <div class="widget-shopping-cart-content">
                    <ul class="product-list-widget">

                        @foreach (var item in Model.CartItemDtos)
                        {
                            <li class="mini-cart-item">
                                <div class="mini-cart-item-content">

                                    <a onclick="RemoveCartItem(this, @item.Id, @item.Price, @Model.TotalPrice, @Model.Count)" class="mini-cart-item-close">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a href="#" class="mini-cart-item-image d-block">
                                        <img src="~/@item.ProductImage">
                                    </a>
                                    <span class="product-name-card">@item.ProductName</span>
                                    <div class="variation">
                                        <span class="variation-n">فروشنده : </span>
                                        <p class="mb-0">دیجی اسمارت </p>
                                    </div>
                                    <div class="quantity">
                                        <span class="quantity-Price-amount">
                                            @item.Price.ToString("n0")
                                            <span>تومان</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>

                    <div class="mini-card-button">
                        <a href="/site/api/Carts" class="view-card">مشاهده سبد خرید</a>
                        <a href="checkout.html" class="card-checkout">تسویه حساب</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}